@page "/"
@using LlamaShears.Api.Web.Components

<PageTitle>LlamaShears</PageTitle>

<div class="chat">
    <section class="conversation">
        <ChatHeader />
        <MessageList />
    </section>
    <Composer />
</div>
