@page "/"
@rendermode InteractiveServer
@using LlamaShears.Api.Web.Components

<PageTitle>LlamaShears</PageTitle>

<div class="chat">
    <header class="chat-header">
        <h1>LlamaShears</h1>
    </header>
    <section class="conversation">
        <AgentPicker />
        <MessageList />
    </section>
    <Composer />
</div>
